﻿@using Microsoft.Ajax.Utilities
@using TMASimulator.Models
@model TMASimulator.Models.VesselSet
@{
    var vs = (VesselSet) ViewData["Vessels"];
}
<ul>
    @foreach (var item in vs.GetAllVessels())
    {
        <li>
            @item.VesselId - @item.VesselType.VesselTypeName
        </li>
    }
</ul>